.flexfoot {
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 75%;
    display: flex;
    justify-content: space-between;   
}

footer {
    background-color: #F2F2F2;
    margin-top: 1em;
}

footer p {
    margin-bottom: 0px;
    font-weight: bold ;
}

footer a {
    text-decoration: none;
    color: black;   
}

footer li {
    list-style: none;
    padding-bottom: 5px;
}

.apropos {
    display: flex;
    flex-direction: column;
}

footer ul {
    padding-left: 0px;
}

@media screen and (max-width:767px) {

    .flexfoot {
        display: flex;
        flex-direction: column;
    }
    footer {
        margin-top: 2em;
    }
}

@media only screen and (min-width : 768px) and (max-width : 959px) {
    
}
