#hebergements {
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    background-color: #F2F2F2;
    width: 66%;
    margin-right: 15px;
    padding: 1em;  
    display: flex;
    flex-direction: column;
    
    
}

#hebergements h2 {
    font-size: 20px;
    margin-bottom: 5px;
    padding-left: 20px;
}

.flexheb {
    display: flex;
    justify-content: space-around;   
}

#hebergements img {
    width: 100%;
    height: 105px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;  
}

#hebergements a {
    text-decoration: none;
}

.vignettesHebergements {
    border: 1px solid #F2F2F2;
    box-shadow: 2px 10px 8px #F2F2F2;
    background-color: white;
    border-radius: 15px;
    width: 33%;
    padding: 0.2em;
    margin: 1em;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.vignettesHebergements:hover {
    transform: scale(1.05);
    transition: ease 0.2s;
}

.vignettesHebergements a {
    text-decoration: none;
    color: black;
}

.imTitreHeb {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.star {
    display: flex;
    font-size: 12px;
    padding-left: 12px;
}

.starBleu {
    color: #0065fc;
    font-size: 12px;
}

.starGris {
    color: #F2F2F2;
    font-size: 12px;
}

h3,h4,p {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 5px;   
}

.texteVignette {
    display: flex;
    flex-direction: column;   
    padding-left: 12px;       
}

.texteVignette h3 {
    font-size: 15px;
    margin-top: 5px;
}

.texteVignette p {
    font-size: 13px;
}

span a {
    margin-left: 16px;
    font-size: 17px;
    font-weight: 600;
    color: black;
    position: relative;
    top: 15px;
    left: 5px;
}

.hebpop {
    display: flex;
}

/****POPULAIRES***/

.popicone {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires {
    width: 31%;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    background-color: #F2F2F2;
    margin-left: 15px;   
    padding-top: 36px;
    padding-right: 2em ;
    padding-left: 2em;
    display: flex;
    flex-direction: column;    
}

.populaires h2 {
    margin: 0px;
    margin-bottom: 5px;
    font-size: 20px;
}

.populaires img {
    width: 120px;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;   
}

.flexpop {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



.lesPlusPopulaires a {
    display: flex;
    border: 1px solid #F2F2F2;
    box-shadow: 2px 10px 8px #F2F2F2;
    border-radius: 15px;
    padding: 3px;
    background-color: white;
    height: 120px;
    margin-top: 1em;  
    margin-bottom: 0.8em; 
    text-decoration: none;
    color: black;
}

.lesPlusPopulaires .star {
    padding: 0px;
}

.lesPlusPopulaires:hover {
    transform: scale(1.05);
    transition: ease 0.5s;
}

.txtpop {
    margin-left: 1em;
    display: flex;
   flex-direction: column;
   justify-content: space-around;
}

.txtpop h3 {
    font-size: 15px;
}

.txtpop p {
   font-size: 13px;   
}

.txtpop i {
    font-size: 12px;
}

/***Activites***/

.cardS:hover, .cardL:hover, .cardM:hover {
    transform: scale(1.05);
    transition: ease 0.2s;
}

#activites h2 {
    margin-top: 2em;
}

#activites h3 {
    margin-top: 0.7em;
    margin-bottom:0.7em;
    padding-left: 1em;
    font-size: 15px;    
}

.cardL {
    border: 1px solid #F2F2F2;
    box-shadow: 2px 7px 8px #F2F2F2;
    background-color: white;
    border-radius: 15px;
    width: 47%;    
}

.groupeLigne a {
    text-decoration: none;
    color: black;
    padding-bottom: 0.7em;
}

.seulactivitesAMarseille {
    padding-bottom: 1px;
}

.doubleactivitesAMarseille {
    border: 1px solid #F2F2F2;
    box-shadow: 2px 7px 8px #F2F2F2;
    background-color: white;
    border-radius: 15px;  
}

.seulactivitesAMarseille img {   
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.doubleactivitesAMarseille img {   
    width: 100%;    
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.petite img {
    height: 130px;    
}

.grandeHaut img, .grandeBas img{
    height: 180px;  
}

.grandeHaut {
    margin-bottom: 20px;
}

.groupeColonne {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 47%;
}

.groupeLigne {
    display: flex;
    justify-content: space-between;
    width: 48.5%;  
}

.groupe {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:767px) {

/***POPULAIRES***/

    .populaires {
        background-color: #F2F2F2;
        border-radius: 0px;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    .lesPlusPopulaires {
        margin-left: 1em;
        margin-right: 1em;
        height: 130px;      
        margin-bottom: 1em;
    }

    .hebpop {
        display: flex;
        flex-direction: column-reverse;
    }

    .popicone {
        margin-top: 1.5em;
        margin-left: 1em;
        margin-right: 1em;
    }

    .flexpop {
        margin-bottom: 1em;
    }

    .txtpop {
        margin-left: 1em;
    }

    .txtpop h3 {
        margin-top: 10px;
    }

    .txtpop h4 {
        margin-bottom: 20px;
    }

    .txtpop i {
        font-size: 12px;
    }

/***HEBERGEMENTS***/

    #hebergements {
        width: 90%;
        border: none;
        border-radius: none;
        background-color: white;
        margin-left: 1em;
        margin-right: 1em;
        padding: 0px;
    }

    #hebergements h2 {
        padding-left: 0px;
        margin-top: 1.5em;
        margin-bottom: 10px;
        font-weight:600;
    }

    .flexheb {
        display: flex;
        flex-direction: column;
    }

    .vignettesHebergements {
        width:100%;
        height: 180px;
        margin: 0px;
        margin-top: 5px;
        margin-bottom: 5px;     
        display: flex;
        flex-direction: column;
        justify-content: space-around;  
    }

/***ACTIVITES***/
#activites {
    margin-left: 1em;
    margin-right: 1em;
}

#activites h2{
    margin-top: 2em;
    margin-left: 0px;
    padding-left: 4px;
    margin-bottom: 1em;
}

#activites h3 {
    margin-top: 1em;
}

.groupeLigne, .groupe {
    flex-direction: column;
    
}

.cardL {
    width: 100%;
    margin-bottom: 20px;
}

 .doubleactivitesAMarseille{
    width: 100%;
    height: 180px;
    margin-bottom: 20px;
}

.seulactivitesAMarseille img, .doubleactivitesAMarseille img {
    width: 100%;
    height: 130px;
}

.grandeHaut {
    margin-bottom: 0px;
}

.groupeLigne, .groupeColonne {
    width: 100%;
}

span a {   
    margin-left: 0px;
}


}

@media only screen and (min-width : 768px) and (max-width : 959px) {

.hebpop {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 0px;
    
}

#hebergements {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.populaires {
    width: 100%;
    margin:0px;
}





}
