.logo img {
    height: 50px;
}
.navBarreMobile {
    display: none;
}

.navBarre {
    display: flex;
    justify-content: space-between; 
    align-items: center;   
}

.menu {
    display: flex;
    align-items: center;   
}

nav {
    display: flex;
    align-items: center;   
}

nav a {
    padding-top: 40px;
    padding-bottom: 40px;    
    padding-right: 2em;
    padding-left: 2em; 
    text-decoration: none;
    color: black;
}

nav a:hover {
    border-top: 2px solid #0065fc;
    padding-top: 38px;
    padding-bottom: 40px;
    color: #0065fc; 
}

.signin {
    display: flex;
    align-items: center;    
}

.signin a {
    padding-left: 2em;
    text-decoration: none;
    color: #0065fc;
}

h1 {
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.titre p {
    margin-top: 0px;
    font-size: 15px;
    padding-bottom: 15px;
}

/*****BARRE RECHERCHE*****/
form {
    display:flex;
    align-items: center;
}

form i {
    background-color: #F2F2F2;
    padding: 10px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 18px;
    padding-left: 18px;
    margin-right: -2px;
    border: 1px solid #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.zoneRecherche {
    border: 1px solid #F2F2F2;   
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 30px;
    padding-bottom: 11px;
    width: 220px;   
}

.bouton {
    border: 1px solid #0065fc;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-left: -4px;
    padding-top: 11px;
    padding-bottom: 11px;   
    color: white;
    background-color: #0065fc;
}

.loupe {
    display: none;
}



/*****FILTRES*****/

.filtres {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 70%;
}

.filtres p {
    font-weight: bold;
}

.filtres a {
    text-decoration: none;
    display: flex;
    align-items: center;
    border: 3px solid #F2F2F2;
    border-radius: 25px;
    padding-right: 1em;   
    color: black;
    font-weight: bold;    
}

.filtres a:hover {
    background-color: #0065fc;
    color: #DEEBFF;
    transition: ease 0.5s;
}

.filtres i {    
    margin-right: 0.8em;
    background-color: #DEEBFF;   
    border-radius: 50%;
    height: 41px;
    width: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065fc;   
}

.responsiveFiltre {
    display: flex;

}

.info {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.info i {
    margin-right: 0.5em;
    border: solid 1px #DEEBFF;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    color:#0065fc;
    display: flex;
    justify-content: center;   
}

@media screen and (max-width:730px) {

    

    .navBarre {
        display: none;
    }

    .navBarreMobile {
        display: inline;
    }

    .logsign {
        display: flex;
        justify-content: space-between;
    }

    .menuMobile nav{
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid #F2F2F2;
        padding-left: 1.5em;
        padding-right: 2.5em;
        padding-bottom: 10px;
    }

    .menuMobile a {
        padding: 0px;
        padding-bottom: 5px;
    
        
        
    }

    .menuMobile a:hover {
            border-top: none;
            padding-top: 0px;
            padding-bottom: 4px;
            border-bottom: 1px solid #0065fc;
    }

    h1 {
        font-size: 28px;
        
    }
    
   
   
    .responsiveFiltre {
        display: flex;
    }

    .filtres {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .bouton {
        display: none;
    }

    .loupe {
        display: block;
        
    }

    .loupe i {
        border-radius: 15px;
        padding: 11px;
        background-color: #0065fc;
        color: white;
    }

   
    
    
}