.logo img {
    height: 50px;
}
.navBarreMobile {
    display: none;
}

.navBarre {
    display: flex;
    justify-content: space-between; 
    align-items: center;   
    padding-left: 2em;
    padding-right: 2em;
}

.menu {
    display: flex;
    align-items: center;   
}

nav {
    display: flex;
    align-items: center;   
}

nav a {
    padding-top: 40px;
    padding-bottom: 40px;    
    padding-right: 2em;
    padding-left: 2em; 
    text-decoration: none;
    color: black;
}

nav a:hover {
    border-top: 2px solid #0065fc;
    padding-top: 38px;
    padding-bottom: 40px;
    color: #0065fc; 
}

.signin {
    display: flex;
    align-items: center;    
}

.signin a {
    padding-left: 2em;
    text-decoration: none;
    color: #0065fc;
    font-weight: 600;
}

h1 {
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 10px;
    margin-top: -5px;
}

.titre p {
    margin-top: 0px;
    font-size: 15px;
    padding-bottom: 15px;
}

/*****BARRE RECHERCHE*****/
form {
    display:flex;
    align-items: center;
}

.position i {
    background-color: #F2F2F2;
    padding: 10px;
    padding-top: 19px;
    padding-bottom: 19px;
    padding-right: 18px;
    padding-left: 18px;
    margin-right: -2px;
    border: 1px solid #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

input .zoneRecherche {
    border: none;
}

.zoneRecherche {
    
    border: 1px solid #F2F2F2;   
    padding-top: 18px;
    padding-left: 10px;
    padding-right: 30px;
    padding-bottom: 18px;
    width: 220px;   
}
::placeholder{
    
    color: black;
    font-size: 16px;
    font-weight: 600;
    margin-left: 0.5em;
}

input:focus {
    outline:#0065fc;

}

.bouton {
    font-size: 18px;
    font-weight: 500;
    border: 1px solid #0065fc;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-left: -4px;
    padding-top: 16px;
    padding-bottom: 16px; 
    padding-left: 20px;
    padding-right: 20px;  
    color: white;
    background-color: #0065fc;
}

.bouton:hover {
    cursor: pointer;

}

.loupe {
    display: none;
}

/*****FILTRES*****/

.filtres {
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    
}

.filtres p {
    font-size: 16px;
    font-weight: 600;
    margin-right: 2%;

}

.filtres a {
    text-decoration: none;
    display: flex;
    align-items: center;
    border: 3px solid #F2F2F2;
    border-radius: 25px;
    padding-right: 1em;   
    color: black;
    font-size: 16px;
    font-weight: 600;   
    margin-right: 2%; 
}

.filtres a:hover {
    background-color: #0065fc;
    color: #DEEBFF;
    transition: ease 0.2s;
}

.filtres i {    
    margin-right: 0.8em;
    background-color: #DEEBFF;   
    border-radius: 50%;
    height: 41px;
    width: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065fc;   
    transform: scale(1.1);
    flex-shrink: 0;
}

.filtresMobile {
    display: none;
}

.info {
    display: flex;
    align-items: baseline;
    margin-top: 30px;
    margin-bottom: 30px;   
}

.info i {
    font-size: 13px;
    border: solid 1px #DEEBFF;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    color:#0065fc;
    display: flex;
    justify-content: center;  
    align-items: center;
    margin-right: 12px; 
}

@media screen and (max-width:767px) {

    .navBarre {
        display: none;
    }

    .navBarreMobile {
        display: inline;              
    }

    .logsign {
        display: flex;
        justify-content: space-between;
        padding: 1em;
        margin-top: 10px;
        margin-bottom: 0.5em;
    }

    .menuMobile nav{
        display: flex;
        justify-content: space-between;
        
    }

    .menuMobile a {
        padding: 0px;
        padding-bottom: 10px;  
        width: 50%;
        text-align: center;
        border-bottom: 3px solid #F2F2F2; 
    }

    .menuMobile a:hover {
            border-top: none;
            padding-top: 0px;
            padding-bottom: 10px;
          
            
            border-bottom: 3px solid #0065fc;
    }

    .titre {
        margin-left: 1em;
        margin-right: 1em;
    }

    h1 {
        font-size: 23px; 
        margin-top: 1.5em; 
        font-weight: 700;     
    }

    .titre p {
        font-size: 17px;
        padding-bottom: 1.5em;
        font-weight: 300;
    }

    form {
        margin-left: 1em;
        margin-right: 1em;
    }

    button {
        border: none;
        background-color: #0065fc;
        z-index: 1;
        position: relative;
        right: 20px;
        border-radius: 15px;
        padding: 18px;
        color: white;
    }

    button:hover {
        cursor: pointer;
    }



    .loupe {
        display: block;       
    }

    
    .bouton {
        display: none;
    }

   

    .filtres {
        display: none;               
    }

    .filtresMobile {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 1em;
       
    }

    .filtresMobile p {
        font-size: 18px;
        font-weight: 600;
        padding-top: 1.5em;
        padding-bottom: 0.7em;
    }
    
    .filtresMobile a {
        text-decoration: none;
        display: flex;
        align-items: center;
        width: max-content ;
        border: 3px solid #F2F2F2;
        border-radius: 25px;
        padding-right: 1em;         
        margin-bottom: 1em;
        color: black;
        font-weight: bold;    
    }
    
    .filtresMobile a:hover {
        background-color: #0065fc;
        color: #DEEBFF;
        transition: ease 0.5s;
    }
    
    .filtresMobile i {    
        margin-right: 0.8em;
        background-color: #DEEBFF;   
        border-radius: 50%;
        height: 41px;
        width: 41px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #0065fc;  
        transform: scale(1.1); 
        
    }

    .ecoFami {
        display: flex;
        
    }

    .ecoFami a {
        margin-right: 1em;
    }

    .info {
        margin-left: 1em;
    }

    .info i{
        flex-shrink: 0;
    }
   
  
}

@media only screen and (min-width : 768px) and (max-width : 1060px) {
    
    .titre {
        padding-left: 2em;
    }

    form {
        margin-left: 2em;
    }

    .filtres {
        width: 92%;
        display: flex;
        justify-content: space-between;
        padding-left: 2em;
       margin-right: 2em;
    }

    .info {
        margin-left: 2em;
    }

}