/*** File .css section hebergements ***/

#hebergements {
    width: 65%;
    background-color: #F2F2F2;
    border-radius: 15px;
    margin-right: 20px;
    padding: 10px;
    padding-top: 30px;
}

#hebergements a {
    margin: 15px;
   
}

#hebergements h2 { 
    font-size: 22px;
    margin-left: 30px;
    position: relative;
    bottom: 10px;
    margin-bottom: 0px;
}

.gridHeb {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 15px;
    margin-right: 18px;
}

span a {
    position: relative;
    top:30px;
    left: 25px;
    font-weight: 700;
    font-size: 18px;
}

span a:hover {
    color: #0065FC;
}

@media screen and (max-width:767px) {

    #hebergements {
        width: 100%;
        background-color: white;     
        margin-bottom: 8px;  
    }

    #hebergements h2 {        
        margin-left: 10px;        
    }

    #hebergements a {
        margin-bottom: 6px;
    }

    .gridHeb {
        grid-template-columns: 1fr;
        margin-left: 0px;
        margin-right: 0px;
    }

    span a {
        position: relative;
        left: 0px;    
    }


    
    
}


@media only screen and (min-width : 768px) and (max-width : 1130px) {
    

    #hebergements {
        width: 100%;
        margin: 0px;
        margin-left: 50px;
        margin-top: 30px;
    }
}