/*** File .css group [section hebergements & popular ] ***/

.hebpop {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 46px;
    margin-bottom: 30px;
    position: relative;
    bottom: 35px;
}

.hebpop a {
    text-decoration: none;
    color: black;
}



.popicone {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
}

@media screen and (max-width:799px) {
 
    .hebpop {
        flex-direction: column-reverse;
        margin-left: 0px;
        margin-right: 20px;
    }
}

@media only screen and (min-width : 800px) and (max-width : 1160px) {


.hebpop {
        flex-direction: column-reverse;
        margin:0px;
        margin-right: 120px;
    }

    
}