/*** File .css img ***/

img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
    width: 100%;
}

#hebergements img {
    height: 115px;
}

.popular img {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 15px;
    width: 40%;
    height: 135px;
}

.cardL img {
    height: 390px;

}

.cardM img {
    height: 180px;  
}

.cardS img {
    height: 120px;
}

/*** Mobile ***/

@media screen and (max-width:799px) {

    .cardL img, .cardM img, .cardS img {
        height: 145px;
    
    }
    

}

@media only screen and (min-width : 800px) and (max-width : 1160px) {

    .popular img {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0px;
        object-fit: cover;
        width: 100%;
        height: 115px;
    }

    .cardL img, .cardM img, .cardS img {
        height: 145px;
    
    }
    



    
}
