/*** File .css section popular ***/

.popular {
    width: 30%;
    background-color: #F2F2F2;
    border-radius: 15px;
    margin-left: 10px;
    padding: 10px;
}

.popular a {
    margin: 10px;
}

.popular h2 {
    font-size: 22px;
    margin-bottom: 0px;   
}

.popicone {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

.popicone {
    font-weight: 800;
    font-size: 22px;
}

.flexPop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

@media screen and (max-width:767px) {

    .popular {
        width: 100%;
        margin-left: 0px;
        margin-right: 20px;
        border-radius: 0px;
        padding-bottom: 40px;
    }

    .popicone {
        margin-left: 10px;
        margin-right: 10px;  
        margin-bottom: 20px;
    }

    .flexPop {
        margin-left: 0px;
        margin-right: 0px;
    }

    .popular a {
        margin-bottom: 0px;
    }

}